body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
}

header {
    background-color: #39633F;
    color: #E2C5A1;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #A53C3C;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

main {
    padding: 20px;
    
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #A53C3C;
    
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}